nav {
  border: solid 1px goldenrod;
  
}

nav ul {
    list-style-type:none;
}

nav li {
    display: inline-block;
    
    margin-right: 5px;
}

.disabled {
    color: grey;
}
a.disabled {
    color: purple;
}

.active {
    color: yellow;
}

.parent div div:nth-child(1) {
    color: red;
}

.parent div div:nth-child(3) {
    color: blue;
}
.parent div h4:nth-child(2) {
    background-color: red;
}

.parent div h4:nth-child(4) {
    background-color: blue;
}

.grandparent > ¬h4 {
    border: 1px solid black;
    border-radius: 10px;
}

.promo {
    font-weight: bold;
    color: gold;
}

/* input {
    height: 25px;
} */
.padded > span input[type="text"] {
    height: 25px;
}